.animation-tb{
    animation: fadeIn .5s ease-in;
}

.animation-lr{
    animation: fade .5s ease-in;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}

@keyframes fade {
    0%{
        opacity: 0;
        transform: translate(-30px)
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}